
.container {
  width: 800px;
  min-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header */

header {
  width: 100%;
}

.log-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
}

.logo {
    margin-right: -35px;
}

.logo img {
  width: 50%;
}

.logo:hover,
h1:hover {
  opacity: 50%;
}

.log-h1 h1 {
  color: #0087cc;
  font-size: 2.5rem;
}

.log-h1 a {
  color: #0087cc;
  font-size: 2.5rem;;
}

/* nav */

nav ul {
  background-color: #0087cc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 200px;
  height: 25px;
}

nav a {
  color: #fff;
  padding-right: 10px;
}

nav a:hover {
  color: #ddd;
}

/* main */

main {
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

time {
  color: #929292;
}

h2 {
  color: #0087cc;
  font-size: 1.3rem;
  font-weight: bold;
}

h2:hover {
  color: #ff7b29;
}

.section3 {
  display: flex;
  justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    width: 34%;
    height: auto;
}

.s2 {
    margin-left: -100px;
    margin-right: -100px;
}

article {
  width: 50%;
}

article p {
  margin-bottom: 5px;
}

article img {
  width: 100%;
}

figcaption {
  color: #0087cc;
  margin-bottom: 10px;
}

span a {
  color: #0087cc;
}

/* footer */

footer {
  width: 100%;
  margin-left: 320px;
  margin-bottom: 30px;
}

footer h3 {
  font-weight: bold;
  margin-left: 23px;
}

footer p,
h2 {
  margin-bottom: 10px;
}

footer p {
    margin-left: -40px;
}

footer img {
    width: 2%;
}

footer img:hover {
  opacity: 50%;
}

.foot-img {
    margin-left: 40px;
}

/* responsive */

@media screen and (min-width: 1200px) {

  .container {
    width: 1970px;
  }
  
  nav ul {
    padding-right: 150px;
  }

  article {
    width: 100%;
  }
  
.s2 {
  margin-left: 10px;
  margin-right: 10px;
}

  figcaption br {
    display: none;
  }
  
  footer {
    margin-left: 900px;
  }

  .foot-img {
    margin-left: -20px;
}

}